// Colors
$color-black: #000;
$color-lightblack: #1a1a1a;
$color-white: #fff;
$color-brightgrey: #fafafa;
$color-lightgrey: #e2e2e2;
$color-grey: #bebebe;
$color-darkgrey: #8d8d8d;
$color-yellow: #ffa900;
$color-pink: #fa6bff;
$color-purple: #a749ff;
$color-red: #cd0000;
$color-blue: #3498db;
$color-green: #07bc0c;
$color-darkgreen: #2b9348;
$color-newblue: #1068a9;

// Fonts
$font-family-main: 'Poppins', 'Darker Grotesque', sans-serif;
$font-family-secondary: 'Cormorant', serif;
$letter-space-sm: 0.6px;

// Animation
$trans: 0.3s ease;
$time: 0.3s;

// Sizing for media
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xs: 465px;
